[submodule "server_ws/src/slam_toolbox"]
	path = server_ws/src/slam_toolbox
	url = https://github.com/SteveMacenski/slam_toolbox.git
[submodule "server_ws/src/vision_opencv"]
	path = server_ws/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "server_ws/src/rf2o_laser_odometry"]
	path = server_ws/src/rf2o_laser_odometry
	url = https://github.com/Slamtec/rplidar_ros.git
	branch = ros2
